
/* Remove the grey background image */

html {
background: none !important;
}

div.header {
margin-bottom: 20px;
}

/* Top Nav color */

div.topnav {
border-bottom: solid 2px !important;
border-top: solid 2px !important;
padding: 10px !important;
}

/*  For messange box */

div.note {
padding: 10px 15px 10px 50px !important;
border: solid 2px lightgrey !important;
border-radius: 4px !important;
background: none !important;
}


.alert-info {
color: black !important;
background-color: white !important;
}

.alert {
color: black !important;
}

div.important {
border: solid 2px #4183c4 !important;
border-radius: 4px !important;
padding: 10px 15px 10px 50px !important;
background: none !important;
}

div.warning {
padding: 10px 15px 10px 50px !important;
border: solid 2px orange !important;
border-radius: 4px !important;
background: none !important;
}

div.hint {
padding: 10px 15px 10px 50px !important;
border: solid 2px #37D612 !important;
border-radius: 4px !important;
}

div.admonition-laws {
padding: 10px 15px 10px 50px !important;
border: solid 2px #28344C !important;
border-radius: 4px !important;
background: none !important;
}

div.math {
text-align:center;
}


.figure>p.caption {
color: grey;
border-left: 5px solid grey;
border-right: 5px solid grey;
background: #E2DFDF;
padding: 10px;
margin: 10px;
}



.highlit {
padding: 2px 4px;
/*font-size: 90%;*/
/*font-weight: bold;*/
color: #4B648C;
background-color: #EDFFF0;
white-space: nowrap;
border-radius: 4px;
}



/* For disqus thread*/

#disqus_thread {
max-width:1170px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

#sourcelink {
padding-top:15px;padding-bottom:15px;
float:left;
color:#777777;
}
#sourcelink>a {
color:#777777;
text-decoration:none;
}

.dropdown-menu {
min-width: 260px !important;
}
